In [3]:

import pandas as pd
import sqlite3

Load customers table

In [22]:

conn=sqlite3.connect('/Users/kadyr/pythonhomework/lesson-16/learning/chinook.db')
customers=pd.read_sql_query("SELECT * FROM customers", conn)
print(customers.head(10))

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [31]:
iris_df=pd.read_json('/Users/kadyr/pythonhomework/lesson-16/learning/iris.json')
print(iris_df.shape, iris_df.head(0))

(150, 5) Empty DataFrame
Columns: [sepalLength, sepalWidth, petalLength, petalWidth, species]
Index: []

In [35]:
titanic_df=pd.read_excel('/Users/kadyr/pythonhomework/lesson-16/learning/titanic.xlsx')
print(titanic_df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [37]:
df_movie=pd.read_csv("/Users/kadyr/pythonhomework/lesson-16/learning/movie.csv")
print(df_movie.sample(10))

                color   director_name  num_critic_for_reviews  duration  \
2118  Black and White       Katt Shea                    85.0     104.0
4098  Black and White     Martin Ritt                    65.0     112.0
1589            Color    Harold Ramis                   145.0     103.0
167             Color      Jon M. Chu                   351.0     122.0
3870            Color     Dan Ireland                    19.0     100.0
4128            Color   Dominic Burns                    20.0     101.0
1275  Black and White   Irwin Winkler                    55.0     128.0
297             Color  Jon Turteltaub                   193.0     131.0
3496            Color     Robert Wise                    57.0     115.0
1794            Color     Steve Miner                   152.0      82.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
2118                     52.0                   484.0  Rachel Blanchard
4098                     58.0                   124.0    Melvyn Douglas
1589                  11000.0                   636.0  Chazz Palminteri
167                     209.0                   934.0    Dwayne Johnson
3870                    137.0                   476.0      Danny Arroyo
4128                     15.0                   663.0      Sean Pertwee
1275                     34.0                   685.0       Nathan Lane
297                     226.0                   341.0    Armando Riesco
3496                    338.0                    45.0       Paula Kelly
1794                     49.0                   429.0     Bridget Fonda

      actor_1_facebook_likes        gross  \
2118                   711.0   17757087.0
4098                   617.0          NaN
1589                 22000.0  106694016.0
167                  17000.0  122512052.0
3870                  4000.0          NaN
4128                   844.0          NaN
1275                   978.0   22326247.0
297                  12000.0  173005002.0
3496                   116.0          NaN
1794                  1000.0   31768374.0

                                      genres  ... num_user_for_reviews  \
2118                  Horror|Sci-Fi|Thriller  ...                253.0
4098                                   Drama  ...                120.0
1589                            Comedy|Crime  ...                337.0
167         Action|Adventure|Sci-Fi|Thriller  ...                288.0
3870                    Comedy|Drama|Romance  ...                 40.0
4128                           Comedy|Sci-Fi  ...                 82.0
1275                           Drama|Romance  ...                106.0
297   Action|Adventure|Comedy|Family|Mystery  ...                692.0
3496                         Sci-Fi|Thriller  ...                171.0
1794                    Action|Comedy|Horror  ...                366.0

     language  country  content_rating       budget  title_year  \
2118  English      USA               R   21000000.0      1999.0
4098  English      USA        Approved    2500000.0      1963.0
1589  English      USA               R   30000000.0      1999.0
167   English      USA           PG-13  130000000.0      2013.0
3870  English      USA               R    4000000.0      1998.0
4128  English       UK               R    2500000.0      2012.0
1275  English      USA           PG-13   60000000.0      1999.0
297   English      USA              PG  100000000.0      2004.0
3496  English      USA               G    6500000.0      1971.0
1794  English      USA               R   27000000.0      1999.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
2118                  490.0        4.6          1.85                  897
4098                  189.0        7.9          2.35                 1000
1589                  979.0        6.7          1.85                    0
167                 12000.0        5.8          2.35                42000
3870                  575.0        5.0          2.35                   98
4128                  722.0        3.1          2.35                    0
1275                  886.0        5.9          1.85                    0
297                   625.0        6.9          2.35                    0
3496                  112.0        7.2          2.35                    0
1794                  888.0        5.6          2.35                 2000

[10 rows x 28 columns]

In [ ]:
iris_df.columns = [col.lower() for col in iris_df.columns]
iris_selected = iris_df[['sepallength', 'sepalwidth']]
print(iris_selected.head())

In [40]:
above_30=titanic_df[titanic_df['Age']>30]
print(titanic_df.head())
gender_count=titanic_df['Sex'].value_counts()
print(gender_count)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Sex
male      577
female    314
Name: count, dtype: int64

In [41]:
less_120=df_movie[df_movie['duration']<120]
print(less_120)
sorted_list=df_movie.sort_values(by='director_facebook_likes', ascending=False)
print(sorted_list)

      color     director_name  num_critic_for_reviews  duration  \
7     Color      Nathan Greno                   324.0     100.0
12    Color      Marc Forster                   403.0     106.0
19    Color  Barry Sonnenfeld                   451.0     106.0
24    Color       Chris Weitz                   251.0     113.0
33    Color        Tim Burton                   451.0     108.0
...     ...               ...                     ...       ...
4911  Color       Scott Smith                     1.0      87.0
4912  Color               NaN                    43.0      43.0
4913  Color  Benjamin Roberds                    13.0      76.0
4914  Color       Daniel Hsia                    14.0     100.0
4915  Color          Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
7                        15.0                   284.0       Donna Murphy
12                      395.0                   393.0    Mathieu Amalric
19                      188.0                   718.0  Michael Stuhlbarg
24                      129.0                  1000.0          Eva Green
33                    13000.0                 11000.0       Alan Rickman
...                       ...                     ...                ...
4911                      2.0                   318.0      Daphne Zuniga
4912                      NaN                   319.0      Valorie Curry
4913                      0.0                     0.0      Maxwell Moody
4914                      0.0                   489.0      Daniel Henney
4915                     16.0                    16.0   Brian Herzlinger

      actor_1_facebook_likes        gross  \
7                      799.0  200807262.0
12                     451.0  168368427.0
19                   10000.0  179020854.0
24                   16000.0   70083519.0
33                   40000.0  334185206.0
...                      ...          ...
4911                   637.0          NaN
4912                   841.0          NaN
4913                     0.0          NaN
4914                   946.0      10443.0
4915                    86.0      85222.0

                                                 genres  ...  \
7     Adventure|Animation|Comedy|Family|Fantasy|Musi...  ...
12                                     Action|Adventure  ...
19        Action|Adventure|Comedy|Family|Fantasy|Sci-Fi  ...
24                             Adventure|Family|Fantasy  ...
33                             Adventure|Family|Fantasy  ...
...                                                 ...  ...
4911                                       Comedy|Drama  ...
4912                       Crime|Drama|Mystery|Thriller  ...
4913                              Drama|Horror|Thriller  ...
4914                               Comedy|Drama|Romance  ...
4915                                        Documentary  ...

     num_user_for_reviews language  country  content_rating       budget  \
7                   387.0  English      USA              PG  260000000.0
12                 1243.0  English       UK           PG-13  200000000.0
19                  341.0  English      USA           PG-13  225000000.0
24                  666.0  English      USA           PG-13  180000000.0
33                  736.0  English      USA              PG  200000000.0
...                   ...      ...      ...             ...          ...
4911                  6.0  English   Canada             NaN          NaN
4912                359.0  English      USA           TV-14          NaN
4913                  3.0  English      USA             NaN       1400.0
4914                  9.0  English      USA           PG-13          NaN
4915                 84.0  English      USA              PG       1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
7         2010.0                  553.0        7.8          1.85
12        2008.0                  412.0        6.7          2.35
19        2012.0                  816.0        6.8          1.85
24        2007.0                 6000.0        6.1          2.35
33        2010.0                25000.0        6.5          1.85
...          ...                    ...        ...           ...
4911      2013.0                  470.0        7.7           NaN
4912         NaN                  593.0        7.5         16.00
4913      2013.0                    0.0        6.3           NaN
4914      2012.0                  719.0        6.3          2.35
4915      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
7                   29000
12                      0
19                  40000
24                      0
33                  24000
...                   ...
4911                   84
4912                32000
4913                   16
4914                  660
4915                  456

[3787 rows x 28 columns]
      color         director_name  num_critic_for_reviews  duration  \
3603  Color  Joseph Gordon-Levitt                   364.0      90.0
120   Color     Christopher Nolan                   478.0     128.0
1057  Color     Christopher Nolan                   185.0     118.0
96    Color     Christopher Nolan                   712.0     169.0
97    Color     Christopher Nolan                   642.0     148.0
...     ...                   ...                     ...       ...
4683  Color                   NaN                    75.0      60.0
4688  Color                   NaN                    11.0      22.0
4704  Color                   NaN                    23.0      43.0
4752  Color                   NaN                    11.0      58.0
4912  Color                   NaN                    43.0      43.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
3603                  23000.0                   694.0  Scarlett Johansson
120                   22000.0                 11000.0         Liam Neeson
1057                  22000.0                   319.0       Maura Tierney
96                    22000.0                  6000.0       Anne Hathaway
97                    22000.0                 23000.0           Tom Hardy
...                       ...                     ...                 ...
4683                      NaN                   833.0            Masi Oka
4688                      NaN                     6.0           Ron Lynch
4704                      NaN                   576.0    Tracy Spiridakos
4752                      NaN                   250.0        James Norton
4912                      NaN                   319.0       Valorie Curry

      actor_1_facebook_likes        gross                            genres  \
3603                 23000.0   24475193.0              Comedy|Drama|Romance
120                  23000.0  205343774.0                  Action|Adventure
1057                 14000.0   67263182.0            Drama|Mystery|Thriller
96                   11000.0  187991439.0            Adventure|Drama|Sci-Fi
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller
...                      ...          ...                               ...
4683                  1000.0          NaN     Drama|Fantasy|Sci-Fi|Thriller
4688                    59.0          NaN            Animation|Comedy|Drama
4704                  2000.0          NaN     Action|Adventure|Drama|Sci-Fi
4752                   887.0          NaN                       Crime|Drama
4912                   841.0          NaN      Crime|Drama|Mystery|Thriller

      ... num_user_for_reviews language  country  content_rating       budget  \
3603  ...                314.0  English      USA               R    3000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1057  ...                651.0  English      USA               R   46000000.0
96    ...               2725.0  English      USA           PG-13  165000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0
...   ...                  ...      ...      ...             ...          ...
4683  ...                379.0  English      USA           TV-14          NaN
4688  ...                 82.0  English      USA           TV-PG          NaN
4704  ...                323.0  English      USA           TV-14          NaN
4752  ...                 59.0  English       UK           TV-MA          NaN
4912  ...                359.0  English      USA           TV-14          NaN

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
3603      2013.0                19000.0        6.6          2.35
120       2005.0                14000.0        8.3          2.35
1057      2002.0                  509.0        7.2          2.35
96        2014.0                11000.0        8.6          2.35
97        2010.0                27000.0        8.8          2.35
...          ...                    ...        ...           ...
4683         NaN                  923.0        7.7         16.00
4688         NaN                   11.0        8.2          1.33
4704         NaN                  821.0        6.7         16.00
4752         NaN                  340.0        8.5         16.00
4912         NaN                  593.0        7.5         16.00

     movie_facebook_likes
3603                33000
120                 15000
1057                    0
96                 349000
97                 175000
...                   ...
4683                    0
4688                  526
4704                17000
4752                10000
4912                32000

[4916 rows x 28 columns]

In [42]:
print("Mean\n", iris_df.mean(numeric_only=True))
print("Median\n", iris_df.median(numeric_only=True))
print("standard deviation:\n", iris_df.std(numeric_only=True))

Mean
 sepalLength    5.843333
sepalWidth     3.057333
petalLength    3.758000
petalWidth     1.199333
dtype: float64
Median
 sepalLength    5.80
sepalWidth     3.00
petalLength    4.35
petalWidth     1.30
dtype: float64
standard deviation:
 sepalLength    0.828066
sepalWidth     0.435866
petalLength    1.765298
petalWidth     0.762238
dtype: float64

In [45]:
print("minimum age:\n", titanic_df['Age'].min())
print ('max age:\n', titanic_df['Age'].max())
print("sum age:\n", titanic_df['Age'].sum())

minimum age:
 0.42
max age:
 80.0
sum age:
 21205.17

In [50]:
likes_by_director=df_movie.groupby('director_name')['director_facebook_likes'].sum()
top_director=likes_by_director.idxmax()
top_likes=likes_by_director.max().astype(int)
print(f"Top director: {top_director} with top likes {top_likes}")

Top director: Steven Spielberg with top likes 364000